<li class="cart__item">
    <input type="hidden" value="<%= p.productId._id %>" name="productId">
     <input type="hidden"  name="_csrf"  value="<%= csrfToken%>">
     <label for="qty">quantity: </label>
     <input type="number" name="qty" value="<%= p.quantity%>" onclick="cartChangeQty(this)">
    <input type="checkbox" class="orderCheck" name="order" checked="true" onclick="orderChecked(this)">
     <button class="btn danger" type="button" onclick="deleteFromCart(this)">Delete</button>
</li>