<!-- main.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FLOWN</title>
</head>
<body>
  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron row">
      <div class="col">
      <h1>Flown</h1>
      <p>자신만의 특별한 꽃다발을 만들고 주문할 수 있는 곳입니다. 당신의 선호하는 꽃을 선택하고, 아름다운 조합으로 꽃다발을 커스터마이즈하세요. 우리의 전문 플로리스트들이 정성껏 꽃을 펼쳐주며, 매 순간을 향기롭고 아름다운 경험으로 만들어드립니다. 특별한 날의 선물, 행사 장식, 또는 사랑하는 사람에게 전하는 마음을 담아 품은 꽃다발을 Flown에서 만나보세요.</p>
      <button type="button" class="btn btn-outline-primary">매장찾기 바로가기</button> 
    </div>
      <img class="col rounded" style="height: 600px;" src="images/mainFlower.jpg" alt="Flower">
    </div>

  </div> <!-- /container -->
</body>
</html>
