<!-- main.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FLOWN</title>
  <style>
    /* Center the flower image */
    .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80vh;
}

.flower-image {
  width: 400px;
  margin-left: 400px; /* 원하는 만큼 조정해보세요 */
}


  </style>
</head>
<body>
  <div class="container">
    <img class="flower-image" src="images/mainFlower.jpg" alt="Flower">
  </div>
</body>
</html>
