

<!DOCTYPE html>

<html>
<head>
  <title>Search Page</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#city').change(function() {
        const city = $(this).val();
        $.get('/search/regions', { city: city }, function(data) {
          const regions = data.regions;
          $('#region').empty();
          regions.forEach(function(region) {
            $('#region').append($('<option>', {
              value: region,
              text: region
            }));
          });
        });
      });

      $('#region').change(function() {
        const region = $(this).val();
        $.get('/search/locations', { region: region }, function(data) {
          const locations = data.locations;
          $('#location').empty();
          locations.forEach(function(location) {
            $('#location').append($('<option>', {
              value: location,
              text: location
            }));
          });
        });
      });
    });
  </script>
</head>
<body>
  <h1>Search Page</h1>
  <form action="/search/stores" method="POST">
    <label for="city">City:</label>
    <select id="city" name="city">
      <% cities.forEach(function(city) { %>
        <option value="<%= city %>"><%= city %></option>
      <% }); %>
    </select>
    <br>
    <label for="region">Region:</label>
    <select id="region" name="region"></select>
    <br>
    <label for="location">Location:</label>
    <select id="location" name="location"></select>
    <br>
    <button type="submit">Search</button>
  </form>

  <% if (stores) { %>
    <h2>Search Results:</h2>
    <% stores.forEach(function(store) { %>
      <p><%= store.name %>: <%= store.address %></p>
    <% }); %>
  <% } %>
</body>
</html>